<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ad.dao.BookMapper">
    <resultMap id="bookResultMap" type="com.ad.model.Book">
            <id column="b_id" property="b_id"/>
            <result column="name" property="name"/>
            <result column="author" property="author"/>
            <result column="publicationDate" property="publication_date"/>
            <result column="intro" property="intro"/>
            <result column="picture" property="picture"/>
            <association property="bookType" javaType="com.ad.model.BookType">
                <id column="bt_id" property="bt_id"/>
                <result column="name" property="name"/>
                <result column="picture" property="picture"/>
            </association>
    </resultMap>
    <select id="selectBookFetchBookType" parameterType="Long" resultMap="bookResultMap">
        SELECT bt.*,b.* FROM booktype bt,book b WHERE b.b_id = #{b_id} AND bt.bt_id = b.bt_id
    </select>
    <insert id="add" parameterType="com.ad.model.Book">
        INSERT INTO book(b_id,name,bt_id,intro,author,publication_date,picture)
        VALUES (#{b_id},#{name},#{bt_id},#{intro},#{author},#{publicationDate},#{picture})
    </insert>
    <update id="update" parameterType="com.ad.model.Book">
        UPDATE book SET
        name = #{name},
        bt_id = #{bt_id},
        intro = #{intro}
        <if test="picture != null">
            ,picture = #{picture},
        </if>
        publication_date = #{publicationDate},
        author = #{author}
        WHERE b_id = #{b_id}
    </update>
</mapper>